{
  "openapi": "3.1.0",
  "info": {
    "title": "Homeopathy Medicinal Knowledge Base",
    "description": "Retrieves homeopathy materia medica content. Use ListDocuments to browse medicines, GetDocumentStructure to see section outlines, and GetDocumentContent to read full text.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://medicine-rag-open-ai-api.thankfuldesert-900a9965.centralindia.azurecontainerapps.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "operationId": "ListDocuments",
        "summary": "List all medicine documents with descriptions",
        "description": "Returns all indexed medicine documents with AI-generated descriptions.",
        "responses": {
          "200": {
            "description": "List of documents with descriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentSummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/documents/{docId}/structure": {
      "get": {
        "operationId": "GetDocumentStructure",
        "summary": "Get section tree of a medicine document",
        "description": "Returns the hierarchical section tree of a medicine document with AI-generated summaries.",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Document ID (e.g. ACONITUM, BRYONIA)"
          }
        ],
        "responses": {
          "200": {
            "description": "Tree structure with summaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Hierarchical tree structure of the document",
                  "items": {
                    "$ref": "#/components/schemas/PageIndexNode"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents/{docId}/content": {
      "get": {
        "operationId": "GetDocumentContent",
        "summary": "Get full text for sections by line range",
        "description": "Returns full text content for tree nodes whose line numbers fall within the requested range.",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Document ID (e.g. ACONITUM, BRYONIA)"
          },
          {
            "name": "lines",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Line range to fetch. Supports: single range '10-25', comma-separated numbers '5,12,30', or comma-separated ranges '19-34,321-349'"
          }
        ],
        "responses": {
          "200": {
            "description": "Content for matching nodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodeContent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing lines parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "DocumentSummary": {
        "type": "object",
        "properties": {
          "docId": {
            "type": "string",
            "description": "Unique document identifier"
          },
          "docName": {
            "type": "string",
            "description": "Medicine name"
          },
          "docDescription": {
            "type": "string",
            "description": "AI-generated description of the document"
          },
          "lineCount": {
            "type": "integer",
            "description": "Total line count of the source document"
          }
        },
        "required": [
          "docId",
          "docName"
        ]
      },
      "PageIndexNode": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "node_id": {
            "type": "string"
          },
          "line_num": {
            "type": "integer",
            "description": "Line number in the source markdown file"
          },
          "summary": {
            "type": "string",
            "description": "AI summary of leaf node content"
          },
          "prefix_summary": {
            "type": "string",
            "description": "AI summary of parent node content"
          },
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Child node. May contain nested nodes recursively."
            },
            "description": "Child nodes"
          }
        },
        "required": [
          "title",
          "node_id",
          "line_num"
        ]
      },
      "NodeContent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "line_num": {
            "type": "integer"
          },
          "text": {
            "type": "string",
            "description": "Full text content of the section"
          }
        },
        "required": [
          "title",
          "line_num",
          "text"
        ]
      }
    }
  }
}