{
  "openapi": "3.1.0",
  "info": {
    "title": "Homeopathy Medicinal Knowledge Base",
    "description": "Retrieves homeopathy knowledge as markdown context for LLM grounding.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://medicine-rag-open-ai-api.thankfuldesert-900a9965.centralindia.azurecontainerapps.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "SearchHomeopathyKnowledge",
        "summary": "Search homeopathy knowledge base",
        "description": "Returns relevant passages as markdown text to be injected directly into the model context.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Health condition or symptom query."
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown content with relevant passages",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted passages suitable for direct prompt grounding."
                }
              }
            }
          },
          "400": { "description": "Invalid or missing query parameter" },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Internal server error" }
        }
      }
    },
    "/metadata/sources": {
      "get": {
        "operationId": "ListKnowledgeSources",
        "summary": "List available knowledge sources",
        "description": "Returns the list of sources indexed in the backend knowledge base.",
        "responses": {
          "200": {
            "description": "Available sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourcesResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Internal server error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "SourcesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "sources": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of source names available in the knowledge base."
          }
        },
        "required": ["sources"]
      }
    }
  }
}
